---
Language: Cpp
BasedOnStyle: LLVM

# --- 基础排版规则 ---
ColumnLimit: 150
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
AllowShortCaseLabelsOnASingleLine: true
InsertNewlineAtEOF: true
AccessModifierOffset: -4
IndentPPDirectives: BeforeHash

# --- 符号对齐风格 ---
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AlignConsecutiveMacros: true
AlignEscapedNewlines: LeftWithLastLine

# --- 代码块与单行收缩控制 ---
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
BinPackArguments: false
BinPackParameters: false
AllowShortLambdasOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 10000
BreakAfterAttributes: Never
LambdaBodyIndentation: Signature

# --- 大括号换行风格 ---
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# --- 类与模板特殊控制 ---
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PackConstructorInitializers: Never
AlwaysBreakTemplateDeclarations: Yes
BreakTemplateDeclarations: Yes

# --- 头文件包含与宏处理 ---
SortIncludes: Never
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'
MacroBlockBegin: ''
MacroBlockEnd: ''

# --- 现代 C++ 特性优化 ---
# Cpp11BracedListStyle: true
# 模板声明（template <...>）后的折行处理方式。Keep 表示遵循原始代码手动折行习惯
#BreakTemplateDeclaration: Leave

...
